<div class="card">
    <p-toast></p-toast>

    <h4> <a [routerLink]="['/codificacion']"> <i class="pi pi-chevron-left" style="font-size: 1.4rem"></i> Variables
            para codificación | </a> Codificación simple</h4>

    <div class="grid">

        <!-- VARIABLES A CODIFICAR -->
        <div class="col-6 md:col-6 lg:6">
            <div class="card  border-1 surface-border">
                <p-table>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="background-color: rgb(2, 136, 209); color: rgb(42, 42, 42); text-align: center;">
                                DEPARTAMENTO <br> <strong
                                    style="font-family:Arial, Helvetica, sans-serif; color: white; ">{{departamentoItem}}</strong>
                            </th>
                            <th style="background-color: rgb(2, 136, 209); color: rgb(42, 42, 42); text-align: center;">
                                IDENTIFICADOR <br> <strong
                                    style="font-family:Arial, Helvetica, sans-serif; color: white; ">{{idPregunta}} -
                                    {{secuencial}}</strong></th>
                            <th style="background-color: rgb(2, 136, 209); color: rgb(42, 42, 42); text-align: center;">
                                POR CODIFICAR <br> <strong
                                    style="font-family:Arial, Helvetica, sans-serif; color: white;">{{porCodificar}}</strong>
                            </th>
                        </tr>
                    </ng-template>
                </p-table>
                <p class="ml-2 mt-2"><strong style="color:rgb(46, 46, 46)">PREGUNTA: </strong> <span
                        class="image-text"></span>
                    <p-chip label="{{nroPreg}}" styleClass="mr-2"></p-chip>
                    {{descPreg}}
                </p>
                <p class="ml-2 mt-2"><strong style="color:rgb(2, 136, 209)">RESPUESTA: </strong> {{respuestaItem}}
                    <strong class="ml-8" style="color:rgb(2, 136, 209)">ESTADO: </strong> {{estadoItem}}
                </p>
            </div>

        </div>



        <!-- VARIABLES DE CONTEXTO -->
        <div class="col-6 md:col-6 lg:6">
            <div class="card  border-1 surface-border">
                <p-table>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="background-color: rgb(16, 177, 99); color: rgb(42, 42, 42);">VARIABLES DE
                                CONTEXTO</th>
                        </tr>
                    </ng-template>
                </p-table>
                <br>
                <p [innerHTML]="contexto"></p>
            </div>
        </div>



    </div>

    <p-progressBar *ngIf="tabla_pb" mode="indeterminate" [style]="{'height': '2px'}"></p-progressBar>

    <!-- BOTONES -->
    <div class="text-700 text-center">
        <button pButton pRipple label="Anular anterior" icon="pi pi-trash" (click)="anularAnterior()"
            class="p-button-danger mb-4 mt-3  px-5 py-3 mr-2 white-space-nowrap"></button>
        <button (click)="primero()" pButton pRipple label="Primero" icon="pi pi-fast-backward"
            class="p-button-info mb-4 mt-3  px-5 py-3 mr-2 white-space-nowrap"></button>
        <button (click)="siguiente()" pButton pRipple label="Siguiente" icon="pi pi-forward"
            class="p-button-info mb-4 mt-3  px-5 py-3 mr-2 white-space-nowrap"></button>
        <button pButton pRipple type="button" label="{{nAux}} / {{totalCarga}}" disabled
            class="p-button-outlined p-button-rounded p-button-secondary mb-4 mt-3  px-5 py-3 mr-2 white-space-nowrap"></button>
    </div>

    <!-- TABLA DE CODIFICACIÓN Y CATALOGOS -->
    <p-table #dt1 [value]="clasificacionAux" dataKey="id_catalogo"  [(first)]="first"
        styleClass="p-datatable-customers" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros" [rows]="15"
        [rowsPerPageOptions]="[5,10,15]" [paginator]="true" stateStorage="local">
        <ng-template pTemplate="header">
            <!--  -->
            <tr>
                <th pSortableColumn="codigo">CÓDIGO CODIFICACIÓN <p-sortIcon field="codigo"></p-sortIcon> </th>
                <th pSortableColumn="descripcion">RESPUESTA <p-sortIcon field="descripcion"></p-sortIcon></th>
                <th>ACCIONES</th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text" (keyup)="buscarPorCodigo()" [(ngModel)]="codigo"
                        placeholder="Buscar por código" class="w-full">
                </th>
                <th>
                    <input pInputText type="text" (keyup)="buscarSimilaresPorDescripcion()" [(ngModel)]="descripcion"
                        placeholder="Buscar por respuesta" class="w-full">
                </th>
                <th>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reg>
            <tr [pSelectableRow]="reg">
                <td>
                    <span class="p-column-title">CÓDIGO CODIFICACIÓN</span>
                    <span class="image-text"> <strong> {{reg.codigo}}</strong></span>
                </td>
                <td>
                    <span class="p-column-title">RESPUESTA</span>
                    <span class="image-text">{{reg.descripcion}}</span>
                </td>

                <td>
                    <button (click)="confirmarCodifiacion(reg)" styleClass="p-button-lg" pTooltip="Codificar"
                        tooltipPosition="right" pButton pRipple icon="pi pi-check" class="p-button-info mr-2"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No hay registros para mostrar</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
    </p-table>

</div>