<div class="card">

    <h4>Gestión de datos ODBC</h4>
    <hr>

    <h5> <strong class="text-blue-600">TABLA 1:</strong> Base de ODBC Idiomas y pueblos</h5>

    <div class="grid p-fluid">
        <div class="col-12">
            <div class="border-round text-left p-2" style="border: 1px solid var(--surface-d)">

                <div class="grid p-fluid">
                    <div class="col-6">
                        <div class="border-round text-left p-2"
                            style="border: 1px solid var(--surface-d); border-color: rgb(233, 233, 233);">
                            <div class="grid p-fluid">
                                <div class="field col-12 md:col-5">
                                    <label for="range">Seleccione el periodo de descarga</label>
                                    <p-calendar dateFormat="dd-mm-yy" [showIcon]="true" inputId="icon" [(ngModel)]="rangeDates_npioc"
                                        selectionMode="range" [readonlyInput]="true" inputId="range" [showTime]="false">
                                    </p-calendar>
                                </div>
                                <div class="field col-12 md:col-7">
                                    <label for="range"></label>
                                    <button type="button" styleClass="p-button-lg" pButton
                                        label="Descargar Archivo ODBC Idiomas/Lenguas" class="p-button-info mr-2  mt-2"
                                        (click)="decargaOdbc_npioc()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <p-fileUpload name="demo[]" url="http://localhost:3014/api/reportes/subirOdbc_npioc/epacoadmin"
                            (onUpload)="onUpload($event)"
                            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                            maxFileSize="50000000">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <br>
    <h5><strong class="text-blue-600">TABLA 2:</strong> Base ODBC variables de Migración</h5>
    <div class="grid p-fluid">
        <div class="col-12">
            <div class="border-round text-left p-2" style="border: 1px solid var(--surface-d)">
                <div class="grid p-fluid">
                    <div class="col-6">
                        <div class="border-round text-left p-2"
                            style="border: 1px solid var(--surface-d); border-color: rgb(233, 233, 233);">
                            <div class="grid p-fluid">
                                <div class="field col-12 md:col-5">
                                    <label for="range">Seleccione el periodo de descarga</label>
                                    <p-calendar  dateFormat="dd-mm-yy"  [showIcon]="true" inputId="icon" [(ngModel)]="rangeDates_ug"
                                        selectionMode="range" [readonlyInput]="true" inputId="range" [showTime]="false">
                                    </p-calendar>
                                </div>
                                <div class="field col-12 md:col-7">
                                    <label for="range"></label>
                                    <button type="button" styleClass="p-button-lg" pButton
                                        label="Descargar Archivo ODBC U. Geográfica" class="p-button-info mr-2  mt-2"
                                        (click)="decargaOdbc_migracion()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
                            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                            maxFileSize="50000000">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>
    <h5><strong class="text-blue-600">TABLA 3:</strong> Base ODBC Ocupación - Actividad Económica</h5>
    <div class="grid p-fluid">
        <div class="col-12">
            <div class="border-round text-left p-2" style="border: 1px solid var(--surface-d)">
                <div class="grid p-fluid">
                    <div class="col-6">
                        <div class="border-round text-left p-2"
                            style="border: 1px solid var(--surface-d); border-color: rgb(233, 233, 233);">
                            <div class="grid p-fluid">
                                <div class="field col-12 md:col-5">
                                    <label for="range">Seleccione el periodo de descarga</label>
                                    <p-calendar  dateFormat="dd-mm-yy"  [showIcon]="true" inputId="icon" [(ngModel)]="rangeDates_oa"
                                        selectionMode="range" [readonlyInput]="true" inputId="range" [showTime]="false">
                                    </p-calendar>
                                </div>
                                <div class="field col-12 md:col-7">
                                    <label for="range"></label>
                                    <button (click)="decargaOdbc()" type="button" styleClass="p-button-lg" pButton
                                        label="Descargar Archivo ODBC Activ.-Ocup."
                                        class="p-button-info mr-2 mt-2"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
                            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                            maxFileSize="50000000">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                        <!-- </div> -->
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>