<div class="card">

    <h4>Gestión de datos ODBC</h4> <!-- Variables para supervisión -->
    <hr>

    <h5> <strong class="text-blue-600">TABLA 1:</strong> Base de ODBC Idiomas y Pueblos</h5>

    <div class="grid p-fluid">
        <div class="col-12">
            <div class="border-round text-left p-2" style="border: 1px solid var(--surface-d)">

                <div class="grid p-fluid">
                    <div class="col-6">
                        <p-progressBar *ngIf="idiomasPueblos_pb" mode="indeterminate"
                            [style]="{'height': '2px'}"></p-progressBar>
                        <div class="border-round text-left p-2"
                            style="border: 1px solid var(--surface-d); border-color: rgb(226, 226, 226);">

                            <div class="grid p-fluid">
                                <div class="field col-12 md:col-5">
                                    <label for="range">Seleccione el periodo de descarga</label>
                                    <p-calendar [disabled]="rol_id==6" [showIcon]="true" inputId="icon"
                                        [(ngModel)]="rangeDates_npioc" selectionMode="range" [readonlyInput]="true"
                                        inputId="range" [showTime]="false" placeholder="Seleccione Periodo...">
                                    </p-calendar>
                                </div>
                                <div class="field col-12 md:col-7">
                                    <label for="range">Descarga</label>
                                    <button [disabled]="rol_id==6" type="button" styleClass="p-button-lg" pButton
                                        label="Archivo ODBC Idiomas y Pueblos" class="p-button-primary mr-2"
                                        (click)="decargaOdbc_npioc()"></button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <p-fileUpload name="demo[]" [url]="uploadUrl_npioc" (onUpload)="onUpload($event)"
                            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                            [maxFileSize]="maxFileSize">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <br>
    <h5><strong class="text-blue-600">TABLA 2:</strong> Base ODBC Variables de Migración</h5>
    <div class="grid p-fluid">
        <div class="col-12">
            <div class="border-round text-left p-2" style="border: 1px solid var(--surface-d)">

                <div class="grid p-fluid">
                    <div class="col-6">
                        <p-progressBar *ngIf="migracion_pb" mode="indeterminate"
                            [style]="{'height': '2px'}"></p-progressBar>
                        <div class="border-round text-left p-2"
                            style="border: 1px solid var(--surface-d); border-color: rgb(226, 226, 226);">
                            <div class="grid p-fluid">
                                <div class="field col-12 md:col-5">
                                    <label for="range">Seleccione el periodo de descarga</label>
                                    <p-calendar [disabled]="rol_id==6" [showIcon]="true" inputId="icon"
                                        [(ngModel)]="rangeDates_ug" selectionMode="range" [readonlyInput]="true"
                                        inputId="range" [showTime]="false" placeholder="Seleccione Periodo...">
                                    </p-calendar>
                                </div>
                                <div class="field col-12 md:col-7">
                                    <label for="range">Descarga</label>
                                    <button [disabled]="rol_id==6" type="button" styleClass="p-button-lg" pButton
                                        label="Archivo ODBC Variables de Migración" class="p-button-primary mr-2"
                                        (click)="decargaOdbc_migracion()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="border-round text-left p-2" style="border: 1px solid var(--surface-d)">
                            <p-fileUpload name="demo[]" [url]="uploadUrl_migracion" (onUpload)="onUpload($event)"
                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                [maxFileSize]="maxFileSize">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadedFiles.length">
                                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                    </ul>
                                </ng-template>
                            </p-fileUpload>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>
    <h5><strong class="text-blue-600">TABLA 3:</strong> Base ODBC Ocupación - Actividad Económica</h5>
    <div class="grid p-fluid">
        <div class="col-12">
            <div class="border-round text-left p-2" style="border: 1px solid var(--surface-d)">
                <div class="grid p-fluid">
                    <div class="col-6">
                        <p-progressBar *ngIf="ocupActiv_pb" mode="indeterminate"
                            [style]="{'height': '2px'}"></p-progressBar>
                        <div class="border-round text-left p-2"
                            style="border: 1px solid var(--surface-d); border-color: rgb(226, 226, 226);">
                            <div class="grid p-fluid">
                                <div class="field col-12 md:col-5">
                                    <label for="range">Seleccione el periodo de descarga</label>
                                    <p-calendar [disabled]="rol_id==6" [showIcon]="true" inputId="icon"
                                        [(ngModel)]="rangeDates_oa" selectionMode="range" [readonlyInput]="true"
                                        inputId="range" [showTime]="false" placeholder="Seleccione Periodo...">
                                    </p-calendar>
                                </div>
                                <div class="field col-12 md:col-7">
                                    <label for="range">Descarga</label>
                                    <button [disabled]="rol_id==6" (click)="decargaOdbc()" type="button"
                                        styleClass="p-button-lg" pButton
                                        label="Archivo ODBC Ocupación - Actividad Económica"
                                        class="p-button-primary mr-2"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="border-round text-left p-2" style="border: 1px solid var(--surface-d)">
                            <!-- <h5>Subir archivo</h5> -->
                            <p-fileUpload name="demo[]" [url]="uploadUrl_acteco" (onUpload)="onUpload($event)"
                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                [maxFileSize]="maxFileSize">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadedFiles.length">
                                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                    </ul>
                                </ng-template>
                            </p-fileUpload>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>