<div class="card">

    <h4>Reportes</h4>
    <hr>

    <div class="grid">

        <div class="col-12 md:col-3 ">

            <div class=" p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px; border: 1px solid var(--surface-d)">

                <span class="font-bold text-2xl text-900 mb-2"> <i
                        class="pi pi-file text-2xl text-blue-500 mr-2"></i>Reporte 1</span>
                <div class="text-700 text-xl mb-4">Reporte de codificación por frecuencia de descripción de
                    campo</div>
                <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                <button routerLink="/reportes/reporte1" type="button" pButton label="Ir al reporte"
                    class="p-button-info p-3 p-button-rounded " icon="pi pi-arrow-right" iconPos="right"></button>

            </div>
        </div>

        <div class="col-12 md:col-3 ">
            <div class=" p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px; border: 1px solid var(--surface-d)">

                <span class="font-bold text-2xl text-900 mb-2"><i class="pi pi-file text-2xl text-blue-500 mr-2"></i>
                    Reporte 2</span>
                <div class="text-700 text-xl mb-4">Reporte de avance de codificación por frecuencia de
                    código de la variable seleccionada</div>
                <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                <button routerLink="/reportes/reporte2" type="button" pButton label="Ir al reporte"
                    class="p-button-info p-3 p-button-rounded " icon="pi pi-arrow-right" iconPos="right"></button>
            </div>
        </div>

        <div class="col-12 md:col-3 ">
            <div class=" p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px; border: 1px solid var(--surface-d)">

                <span class="font-bold text-2xl text-900 mb-2"><i class="pi pi-file text-2xl text-blue-500 mr-2"></i>
                    Reporte 3</span>
                <div class="text-700 text-xl mb-4">Reporte de registros pendientes a codificar por
                    frecuencia de aparición</div>
                <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                <button routerLink="/reportes/reporte3" type="button" pButton label="Ir al reporte"
                    class="p-button-info p-3 p-button-rounded " icon="pi pi-arrow-right" iconPos="right"></button>
            </div>
        </div>

        <div class="col-12 md:col-3 ">
            <div class=" p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px; border: 1px solid var(--surface-d)">

                <span class="font-bold text-2xl text-900 mb-2"><i class="pi pi-file text-2xl text-blue-500 mr-2"></i>
                    Reporte 4</span>
                <div class="text-700 text-xl mb-4">Reporte de codificación automática y asistida</div>
                <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                <button routerLink="/reportes/reporte4" type="button" pButton label="Ir al reporte"
                    class="p-button-info p-3 p-button-rounded " icon="pi pi-arrow-right" iconPos="right"></button>
            </div>
        </div>

        <div class="col-12 md:col-3 ">
            <div class=" p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px; border: 1px solid var(--surface-d)">

                <span class="font-bold text-2xl text-900 mb-2"><i class="pi pi-file text-2xl text-blue-500 mr-2"></i>
                    Reporte 5</span>
                <div class="text-700 text-xl mb-4">Reporte de avance general de codificación</div>
                <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                <button routerLink="/reportes/reporte5" type="button" pButton label="Ir al reporte"
                    class="p-button-info p-3 p-button-rounded " icon="pi pi-arrow-right" iconPos="right"></button>
            </div>
        </div>

        <div class="col-12 md:col-3 ">
            <div class=" p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px; border: 1px solid var(--surface-d)">

                <span class="font-bold text-2xl text-900 mb-2"><i class="pi pi-file text-2xl text-blue-500 mr-2"></i>
                    Reporte 6</span>
                <div class="text-700 text-xl mb-4">Reporte de avance de supervisión por departamento y
                    variable</div>
                <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                <button routerLink="/reportes/reporte6" type="button" pButton label="Ir al reporte"
                    class="p-button-info p-3 p-button-rounded " icon="pi pi-arrow-right" iconPos="right"></button>
            </div>
        </div>

        <div class="col-12 md:col-3 ">
            <div class=" p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px; border: 1px solid var(--surface-d)">

                <span class="font-bold text-2xl text-900 mb-2"><i class="pi pi-file text-2xl text-blue-500 mr-2"></i>
                    Reporte 7</span>
                <div class="text-700 text-xl mb-4">Reporte de avance de supervisión por usuario y variable
                </div>
                <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                <button routerLink="/reportes/reporte7" type="button" pButton label="Ir al reporte"
                    class="p-button-info p-3 p-button-rounded " icon="pi pi-arrow-right" iconPos="right"></button>
            </div>
        </div>

        <div class="col-12 md:col-3 ">
            <div class=" p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px; border: 1px solid var(--surface-d)">

                <span class="font-bold text-2xl text-900 mb-2"><i class="pi pi-file text-2xl text-blue-500 mr-2"></i>
                    Reporte 8</span>
                <div class="text-700 text-xl mb-4">Reporte de avance diario de supervisióno</div>
                <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                <button routerLink="/reportes/reporte8" type="button" pButton label="Ir al reporte"
                    class="p-button-info p-3 p-button-rounded " icon="pi pi-arrow-right" iconPos="right"></button>
            </div>
        </div>

        <div class="col-12 md:col-3 ">
            <div class=" p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px; border: 1px solid var(--surface-d)">

                <span class="font-bold text-2xl text-900 mb-2"><i class="pi pi-file text-2xl text-blue-500 mr-2"></i>
                    Reporte 9</span>
                <div class="text-700 text-xl mb-4">Reporte de avance de codificación por departamento y
                    variable</div>
                <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                <button routerLink="/reportes/reporte9" type="button" pButton label="Ir al reporte"
                    class="p-button-info p-3 p-button-rounded " icon="pi pi-arrow-right" iconPos="right"></button>
            </div>
        </div>

        <div class="col-12 md:col-3 ">
            <div class=" p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px; border: 1px solid var(--surface-d)">

                <span class="font-bold text-2xl text-900" mb-2><i class="pi pi-file text-2xl text-blue-500 mr-2"></i>
                    Reporte 10</span>
                <div class="text-700 text-xl mb-4">Reporte de avance de codificación por usuario y variable
                </div>
                <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                <button routerLink="/reportes/reporte10" type="button" pButton label="Ir al reporte"
                    class="p-button-info p-3 p-button-rounded " icon="pi pi-arrow-right" iconPos="right"></button>
            </div>
        </div>

        <div class="col-12 md:col-3 ">
            <div class=" p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px; border: 1px solid var(--surface-d)">

                <span class="font-bold text-2xl text-900" mb-2><i class="pi pi-file text-2xl text-blue-500 mr-2"></i>
                    Reporte 11</span>
                <div class="text-700 text-xl mb-4">Reporte de avance diario de codificación</div>
                <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                <button routerLink="/reportes/reporte11" type="button" pButton label="Ir al reporte"
                    class="p-button-info p-3 p-button-rounded " icon="pi pi-arrow-right" iconPos="right"></button>
            </div>
        </div>

        <div class="col-12 md:col-3 ">
            <div class=" p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px; border: 1px solid var(--surface-d)">

                <span class="font-bold text-2xl text-900" mb-2><i class="pi pi-file text-2xl text-blue-500 mr-2"></i>
                    Reporte 12</span>
                <div class="text-700 text-xl mb-4">Reporte de registros pendientes a codificar por frecuencia de
                    aparición ocupación-actividad</div>
                <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                <button routerLink="/reportes/reporte12" type="button" pButton label="Ir al reporte"
                    class="p-button-info p-3 p-button-rounded " icon="pi pi-arrow-right" iconPos="right"></button>
            </div>
        </div>

        <div class="col-12 md:col-3 ">
            <div class=" p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px; border: 1px solid var(--surface-d)">

                <span class="font-bold text-2xl text-900" mb-2><i class="pi pi-file text-2xl text-black-500 mr-2"></i>
                    Reporte 13</span>
                <div class="text-700 text-xl mb-4">Nro de cuestionarios por departamento</div>
                <button routerLink="/reportes/reporte0" type="button" pButton label="Ir al reporte"
                    class="p-button-info p-3 p-button-rounded " icon="pi pi-arrow-right" iconPos="right"></button>
            </div>
        </div>


<!-- 
        <div class="col-12 md:col-12 ">
            <div class=" p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px; border: 1px solid var(--surface-d)">
               
            </div>
        </div> -->




    </div>

</div>