<p-toast></p-toast>

<div class="card">
    <h4> <a [routerLink]="['/codificacion/supervisar-codificacion']">Variables para supervisión | </a> Supervisión
        simple
    </h4>
    <div id="p-pregunta">
        <span class="image-text"><strong>Pregunta </strong>
            <p-chip label="{{preguntasSelected.nro_preg}}"
                styleClass="mr-2 ml-2 custom-chip"></p-chip>{{preguntasSelected.descripcion}}</span>
    </div>
    <br>

    <!-- {{preguntasSelected | json}} -->
    <p-progressBar *ngIf="tabla_pb" mode="indeterminate" [style]="{'height': '2px'}"></p-progressBar>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">

            <strong class="mr-2 ml-3">Mostrar: </strong> <p-dropdown [options]="rows" [(ngModel)]="selectedRow"
                optionLabel="value"></p-dropdown>


            <p-button (click)="borrarSeleccion()" icon="pi pi-stop" iconPos="left" class="ml-2"
                styleClass="p-button-info" pTooltip="Deseleccionar todo" tooltipPosition="top"></p-button>


            <label class="ml-2" for="binary"> <strong>{{(selectedRegistros?.length ? selectedRegistros.length : 0) |
                    number}}</strong> registros seleccionados de <strong>{{(registros?.length ? registros.length : 0) |
                    number}}</strong></label>

            <!-- {{registros.length}} {{selectedRegistros | json}} -->
        </ng-template>

        <ng-template pTemplate="right">
            <p-button label="Recodificación" (click)="recodificacion()" icon="pi pi-check-square" iconPos="left"
                [disabled]="tabla_pb" styleClass="p-button-secondary" class="mr-2" pTooltip="Recodificación"
                tooltipPosition="left"></p-button>

            <p-button label="Guardar" (click)="guardarSupervision()" icon="pi pi-save" iconPos="left"
                [disabled]="tabla_pb" styleClass="p-button-info" class="mr-2" pTooltip="Guardar Supervisión"
                tooltipPosition="top"></p-button>

            <p-button label="Cancelar" (click)="cancelarYsalir()" icon="pi pi-times" iconPos="left"
                styleClass="p-button-danger" pTooltip="Cancelar y salir" tooltipPosition="top"></p-button>

        </ng-template>
    </p-toolbar>


    <!-- TABLA -->
    <p-table #dt [value]="registros" [rows]="selectedRow.value" [paginator]="true" [(selection)]="selectedRegistros"
        [rowHover]="true" currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros"
        [showCurrentPageReport]="true" [selectionPageOnly]="true" [loading]="tabla_pb">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox pTooltip="Selecciona o deselecciona todo"
                        tooltipPosition="right"></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="respuesta" style="min-width:15rem">RESPUESTA<p-sortIcon
                        field="respuesta"></p-sortIcon></th>
                <th pSortableColumn="codigocodif">CODIGO<p-sortIcon field="codigocodif"></p-sortIcon></th>
                <th pSortableColumn="descripcion" style="min-width:10rem">DESCRIPCIÓN <p-sortIcon
                        field="descripcion"></p-sortIcon></th>
                <th pSortableColumn="usucodificador">CODIFICADOR <p-sortIcon field="usucodificador"></p-sortIcon></th>
                <th pSortableColumn="var_contexto">VARIABLE DE CONTEXTO <p-sortIcon field="var_contexto"></p-sortIcon>
                </th>
                <!-- <th></th> -->
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-registro>
            <tr>
                <td>
                    <p-tableCheckbox [value]="registro"></p-tableCheckbox>
                </td>
                <td>{{registro.respuesta}}</td>
                <td><p-chip label="{{registro.codigocodif}}"></p-chip> </td>
                <td>{{registro.descripcion}}</td>
                <td>{{registro.usucodificador}}</td>
                <td [innerHTML]="registro.var_contexto"></td>
                <!-- <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="editregistro(registro)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteregistro(registro)"></button>
                </td> -->
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{products ? products.length : 0 }} products.
            </div>
        </ng-template> -->
    </p-table>

    <!-- Boton para subir en la pagina -->
    <p-scrollTop></p-scrollTop>
</div>


<!-- DIALOG COFIRMACION -->
<p-dialog [(visible)]="confirmacionDialog" [style]="{width: '450px'}" header="Confirmación" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="field">
            <h5>¿Está seguro de guardar los datos?</h5>
            <label class="mr-2" for="name">Nro de registros selecionados:</label>
            <small style="font-size: large;">{{selectedRegistros.length}}</small>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="No" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <p-button label="Sí" icon="pi pi-check" iconPos="left" styleClass="p-button-info" class="mr-2"
            (click)="confirmaSupervision()"></p-button>
    </ng-template>
</p-dialog>


<!-- DIALOG ERROR: No hay registros seleccionados. -->
<p-dialog [(visible)]="confirmacionDialogError" [style]="{width: '450px'}" header="Mensaje" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="field">
            <h5><i style="font-size: larger; color: red;" class="pi pi-exclamation-triangle mr-2 "></i> No hay registros
                seleccionados.</h5>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <p-button label="Aceptar" icon="pi pi-check" iconPos="left" styleClass="p-button-info" class="mr-2"
            (click)="hideDialogError()"></p-button>
    </ng-template>
</p-dialog>



<!-- R E C O D I F I C A I O N -->
<!-- Dialog -->
<p-dialog (onHide)="onDialogRecodificacionClose()" header="Recodificación simple" [(visible)]="dialogRecodificacion"
    [style]="{width: '90vw', height: '41vw'}" [maximizable]="true" [resizable]="false" [modal]="true">
    <br>
    <div class="grid">
        <!-- VARIABLES A CODIFICAR -->
        <div class="col-6 md:col-6 lg:6">
            <!-- <p-progressBar *ngIf="tabla_pb" mode="indeterminate" [style]="{'height': '2px'}"></p-progressBar> -->
            <div style="min-height: 130px;" class="card  border-1 surface-border">
                <p-table>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="background-color: rgb(2, 136, 209); color: rgb(42, 42, 42); text-align: center;">
                                DEPARTAMENTO <br> <strong
                                    style="font-family:Arial, Helvetica, sans-serif; color: white; ">{{departamentoItem}}</strong>
                            </th>
                            <th style="background-color: rgb(2, 136, 209); color: rgb(42, 42, 42); text-align: center;">
                                IDENTIFICADOR <br> <strong
                                    style="font-family:Arial, Helvetica, sans-serif; color: white; ">{{idPreguntaItem}}
                                    -
                                    {{secuencialItem}}</strong></th>
                            <th style="background-color: rgb(2, 136, 209); color: rgb(42, 42, 42); text-align: center;">
                                POR SUPERVISAR <br> <strong
                                    style="font-family:Arial, Helvetica, sans-serif; color: white;">{{porRecodificar}}</strong>
                            </th>
                        </tr>
                    </ng-template>
                </p-table>
                <p class="ml-2 mt-2"><strong style="color:rgb(2, 136, 209)">RESPUESTA: </strong> {{respuestaItem}}
                    <strong class="ml-8" style="color:rgb(2, 136, 209)">CODIGO: </strong> {{codigocodifItem}} <br>
                    <strong style="color:rgb(2, 136, 209)">ESTADO: </strong> {{estadoItem}}
                    <strong class="ml-8" style="color:rgb(2, 136, 209)">CODIFICADOR: </strong> {{usucodificadorItem}}
                </p>
            </div>

        </div>


        <!-- VARIABLES DE CONTEXTO -->
        <div class="col-6 md:col-6 lg:6">
            <!-- <p-progressBar *ngIf="tabla_pb" mode="indeterminate" [style]="{'height': '2px'}"></p-progressBar> -->
            <div style="min-height: 130px;" class="card  border-1 surface-border">
                <p-table>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="background-color: rgb(16, 177, 99); color: rgb(42, 42, 42);">VARIABLES DE
                                CONTEXTO</th>                           
                        </tr>
                        <p [innerHTML]="varContextoItem"></p>
                    </ng-template>
                </p-table>
                <br>
                <!-- <p [innerHTML]="contexto"></p> -->
            </div>
        </div>
    </div>

    <!-- BOTONES  DE CONTROL -->
    <div class="text-700 text-center">
        <button (click)="primero()" pButton pRipple label="Primero" icon="pi pi-fast-backward"
            class="p-button-info mb-4 mt-3  px-5 py-3 mr-2 white-space-nowrap"></button>
        <button (click)="siguiente()" pButton pRipple label="Siguiente" icon="pi pi-forward"
            class="p-button-info mb-4 mt-3  px-5 py-3 mr-2 white-space-nowrap"></button>
        <button (click)="confirmarSupervisionCorrecto()" pButton pRipple label="Correcto" icon="pi pi-check"
            class="p-button-primary mb-4 mt-3  px-5 py-3 mr-2 white-space-nowrap"></button>
    </div>

    <!-- TABLA DE CODIFICACIÓN Y CATALOGOS -->
    <p-table #dt1 [value]="catalogoAux" [(first)]="first" styleClass="p-datatable-customers"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros" [rows]="5"
        [rowsPerPageOptions]="[5]" [paginator]="true" stateStorage="local">
        <ng-template pTemplate="header">
            <!--  -->
            <tr>
                <th pSortableColumn="codigo">CÓDIGO CODIFICACIÓN <p-sortIcon field="codigo"></p-sortIcon> </th>
                <th pSortableColumn="descripcion">RESPUESTA <p-sortIcon field="descripcion"></p-sortIcon></th>
                <th>ACCIONES</th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text" (keyup)="buscarPorCodigo()" [(ngModel)]="codigo"
                        placeholder="Buscar por código" class="w-full">
                </th>
                <th>
                    <input pInputText type="text" (keyup)="buscarPorRespuesta()" [(ngModel)]="respuesta"
                        placeholder="Buscar por respuesta" class="w-full">
                </th>
                <th>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reg>
            <tr [pSelectableRow]="reg">
                <td>
                    <span class="p-column-title">CÓDIGO CODIFICACIÓN</span>
                    <span class="image-text"> <strong> {{reg.codigo}}</strong></span>
                </td>
                <td>
                    <span class="p-column-title">RESPUESTA</span>
                    <span class="image-text">{{reg.descripcion}}</span>
                </td>

                <td>
                    <button (click)="codificar(reg)" styleClass="p-button-lg" pTooltip="Codificar"
                        tooltipPosition="right" pButton pRipple icon="pi pi-check" class="p-button-info mr-2"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No hay registros para mostrar</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
    </p-table>

    <!-- FOOTER - BOTON SALIR -->
    <!-- <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="dialogRecodificacion=false" label="Cerrar"
            styleClass="p-button-text"></p-button>
    </ng-template> -->


</p-dialog>