<div class="card">

    <h4>Variables para codificación</h4> <!-- Variables para supervisión -->
    <hr>
    <button pButton pRipple label="Actualizar" icon="pi pi-refresh" class="p-button-warning ml-2"
        pTooltip="Actualizar registros" placeholder="Right"></button> <br> <br>



    <p-progressBar *ngIf="tabla_pb" mode="indeterminate" [style]="{'height': '2px'}"></p-progressBar>

    <p-table [value]="registros">
        <ng-template pTemplate="header">
            <!--  -->
            <tr>
                <th style="width: 80%;">VARIABLE</th>
                <th style="width: 10%;">TOTAL</th>
                <th style="width: 10%;">ACCIONES</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reg>
            <tr [pSelectableRow]="reg">
                <td>
                    <span class="p-column-title">VARIABLE</span>
                    <span class="image-text"><strong>Pregunta </strong>
                        <p-chip label="{{reg.nroPreg}}" styleClass="mr-2"></p-chip>
                        {{reg.variable}}</span>
                </td>
                <td>
                    <span class="p-column-title">TOTAL</span>
                    <span class="image-text">{{reg.total}}</span>
                </td>

                <td>
                    <button routerLink="/codificacion/codificacion-simple" pButton pRipple label="Codificar"
                        icon="pi pi-check" class="p-button-info mr-2" *ngIf="reg.total>0 && reg.nroPreg!=='49-51'"
                        pTooltip="Codificar" tooltipPosition="right"></button>

                    <button routerLink="/codificacion/codificacion-doble" pButton pRipple label="Codificar"
                        icon="pi pi-check" class="p-button-primary mr-2" *ngIf="reg.total>0 && reg.nroPreg=='49-51'"
                        pTooltip="Codificar" tooltipPosition="right"></button>

                    <button pButton pRipple label="Codificar" icon="pi pi-check"
                        class="p-button-outlined p-button-secondary mr-2" disabled *ngIf="reg.total==0"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No hay registros para mostrar</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-refresh" styleClass="p-button-text" label="Actualizar"
                pTooltip="Click para actualizar la tabla"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
    </p-table>

</div>
<br>