<div class="card">

    <h4>Variables para supervisión</h4>
    <hr>


    <button pButton pRipple label="Actualizar" icon="pi pi-refresh" class="p-button-warning" pTooltip="Actualizar tabla"
        placeholder="Right"></button>
    <br><br>

    <p-table #dt1 [value]="registros" dataKey="id_catalogo" styleClass="p-datatable-customers"
        styleClass="p-datatable-sm" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros" stateStorage="local"
        stateKey="statedemo-local">
        <ng-template pTemplate="header">
            <!--  -->
            <tr>
                <th>VARIABLE</th>
                <th>TOTAL</th>
                <th>ACCIONES</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reg>
            <tr [pSelectableRow]="reg">
                <td>
                    <span class="p-column-title">VARIABLE</span>
                    <span class="image-text"><strong>Pregunta </strong>
                        <p-chip label="{{reg.nro_preg}}" styleClass="mr-2 ml-2 custom-chip"></p-chip>
                        {{reg.variable}}</span>
                </td>
                <td>
                    <span class="p-column-title">TOTAL</span>
                    <span class="image-text"> Cod {{reg.totalcod}} + Aut {{reg.totalaut}} = {{reg.totalcod }}</span>
                </td>
                <td>
                    <button (click)="supervisionPorLoteSimple(reg)" pButton pRipple label="Por lotes" icon="pi pi-table"
                        class="p-button-info mr-3" *ngIf="reg.btn_simple" pTooltip="Supervisión por lotes"
                        tooltipPosition="left" ></button>
                    <button (click)="supervisionPorLoteDoble(reg)" pButton pRipple label="Por lotes" icon="pi pi-table"
                        class="p-button-info mr-3" *ngIf="!reg.btn_simple" pTooltip="Supervisión por lotes" 
                        tooltipPosition="left"></button>



                    <button (click)="supervisionIndividualSimple(reg)" pButton pRipple label="Individual"
                        icon="pi pi-stop" class="p-button-danger mr-2" *ngIf="reg.btn_simple"
                        pTooltip="Supervisión individual" placeholder="Right"></button>
                    <button (click)="supervisionIndividualDoble(reg)" pButton pRipple label="Individual"
                        icon="pi pi-stop" class="p-button-danger mr-2" *ngIf="!reg.btn_simple"
                        pTooltip="Supervisión individual" placeholder="Right"></button>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No hay registros para mostrar</td>
            </tr>
        </ng-template>
    </p-table>

</div>
<br>