<div class="layout-footer">
    <div style="padding: 0px;">
        <img src="assets/layout/images/logo-roma.svg"  alt="roma-layout"/>
        <!-- <p>CENSO 2024</p>
        <p>Sistema de codificación</p> -->
    </div>
    <div class="footer-icons">
        <button class="p-link" routerLink="/dashboard">
            <i class="pi pi-microsoft"></i>
        </button>
        <button class="p-link" routerLink="/perfil">
            <i class="pi pi-user"></i>
        </button>
        <!-- <button class="p-link">
            <i class="pi pi-envelope"></i>
        </button> -->
    </div>
</div>