<p-toast></p-toast>

<div class="card">
    <h5>Supervisión</h5>

    <div id="p-pregunta">
        <span class="image-text"><strong>Pregunta </strong>
            <p-chip label="49-51" styleClass="mr-2 ml-2 custom-chip"></p-chip>Ocupación - Actividad Económica</span>
    </div>
    <br>

    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
            <strong class="mr-2 ml-3">Mostrar: </strong> <p-dropdown [options]="rows" [(ngModel)]="selectedRow"
                optionLabel="value"></p-dropdown>
            <p-button label="Actualizar" icon="pi pi-refresh" iconPos="left" class="ml-2" styleClass="p-button-warning"
                pTooltip="Actualizar registros" tooltipPosition="right"></p-button>
            <!-- {{registros.length}} {{selectedRegistros | json}} -->
        </ng-template>

        <ng-template pTemplate="right">
            <p-button label="Recodificación" (click)="recodificaicion()" icon="pi pi-check-square" iconPos="left"
                styleClass="p-button-secondary" class="mr-2" pTooltip="Recodificación"
                tooltipPosition="left"></p-button>

            <p-button label="Guardar" (click)="guardarSupervision()" icon="pi pi-save" iconPos="left"
                styleClass="p-button-info" class="mr-2" pTooltip="Guardar Supervisión" tooltipPosition="top"></p-button>

            <p-button label="Cancelar" (click)="cancelarYsalir()" icon="pi pi-times" iconPos="left"
                styleClass="p-button-danger" pTooltip="Cancelar y salir" tooltipPosition="top"></p-button>

        </ng-template>
    </p-toolbar>



    <!-- 
			id_p49_p51,
			estado_ocu,
			codigocodif_ocu,
			estado_act,
			codigocodif_act,
			respuesta_ocu,
			respuesta_act,
			usucodificador_ocu,
			usucodificador_act,
			'- -' descripcion_ocu,
			'- -' descripcion_act,
			'- -' var_contexto
    -->

    <!-- TABLA --> <!-- styleClass="p-datatable-sm" -->
    <p-table #dt [value]="registros" [rows]="selectedRow.value" [paginator]="true" [(selection)]="selectedRegistros"
        [rowHover]="true" currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros"
        [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
            <tr style="height: 0px; padding: 0px;">
                <th></th>
                <th colspan="3" style="text-align: center; color: white; background-color: rgba(2, 136, 209)">OCUPACIÓN
                </th>
                <th colspan="3" style="text-align: center; color: white; background-color: rgb(17, 176, 232)">ACTIVIDAD
                    ECONÓMICA</th>
                <th colspan="7" style="text-align: center; color: white; background-color: rgb(15, 140, 80)">VARIABLES
                    DE CONTEXTO
                </th>
            </tr>
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="respuesta_ocu">RESPUESTA<p-sortIcon field="respuesta_ocu"></p-sortIcon></th>
                <th pSortableColumn="codigocodif_ocu">CODIGO<p-sortIcon field="codigocodif_ocu"></p-sortIcon></th>
                <!-- <th pSortableColumn="descripcion_ocu">DESCRIPCIÓN<p-sortIcon field="descripcion_ocu"></p-sortIcon></th> -->
                <th pSortableColumn="usucodificador_ocu">CODIFICADOR<p-sortIcon field="usucodificador_ocu"></p-sortIcon>
                </th>

                <th pSortableColumn="respuesta_act">RESPUESTA<p-sortIcon field="respuesta_act"></p-sortIcon></th>
                <th pSortableColumn="codigocodif_act">CODIGO<p-sortIcon field="codigocodif_act"></p-sortIcon></th>
                <!-- <th pSortableColumn="descripcion_act">DESCRIPCIÓN<p-sortIcon field="descripcion_act"></p-sortIcon></th> -->
                <th pSortableColumn="usucodificador_act">CODIFICADOR<p-sortIcon field="usucodificador_act"></p-sortIcon>
                </th>

                <th style="color: rgb(15, 140, 80);" pSortableColumn="contexto_edad">Edad <p-sortIcon field="contexto_edad"></p-sortIcon></th>
                <th style="color: rgb(15, 140, 80);" pSortableColumn="contexto_nivel_edu">Nivel Ed. <p-sortIcon field="contexto_nivel_edu"></p-sortIcon></th>
                <th style="color: rgb(15, 140, 80);" pSortableColumn="contexto_curso">Curso ó Año  <p-sortIcon field="contexto_curso"></p-sortIcon></th>
                <th style="color: rgb(15, 140, 80);" pSortableColumn="contexto_atendio">Semana pasada?  <p-sortIcon field="contexto_atendio"></p-sortIcon></th>
                <th style="color: rgb(15, 140, 80);" pSortableColumn="contexto_otro">Otro  <p-sortIcon field="contexto_otro"></p-sortIcon></th>
                <th style="color: rgb(15, 140, 80);" pSortableColumn="contexto_es_era">¿En ese trabajo es o era?  <p-sortIcon field="contexto_es_era"></p-sortIcon></th>
                <th style="color: rgb(15, 140, 80);" pSortableColumn="contexto_lugar_trabajo">Lugar  <p-sortIcon field="contexto_lugar_trabajo"></p-sortIcon></th>

            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-registro>
            <tr>
                <td>
                    <p-tableCheckbox [value]="registro"></p-tableCheckbox>
                </td>
                <td>{{registro.respuesta_ocu}}</td>
                <td> <p-chip pTooltip="{{registro.descripcion_ocu}}"  label="{{registro.codigocodif_ocu}}"></p-chip></td>
                <!-- <td>{{registro.descripcion_ocu}}</td> -->
                <td>{{registro.usucodificador_ocu}}</td>
                <td>{{registro.respuesta_act}}</td>
                <td> <p-chip pTooltip="{{registro.descripcion_act}}" tooltipPosition="top"   label="{{registro.codigocodif_act}}"></p-chip></td>
                <!-- <td>{{registro.descripcion_act}}</td> -->
                <td>{{registro.usucodificador_act}}</td>

                <td>{{registro.contexto_edad}}</td>
                <td>{{registro.contexto_nivel_edu}}</td>
                <td>{{registro.contexto_curso}}</td>
                <td>{{registro.contexto_atendio}}</td>
                <td>{{registro.contexto_otro}}</td>
                <td>{{registro.contexto_es_era}}</td>
                <td>{{registro.contexto_lugar_trabajo}}</td>
                <!-- <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="editregistro(registro)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteregistro(registro)"></button>
                </td> -->
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{products ? products.length : 0 }} products.
            </div>
        </ng-template> -->
    </p-table>

    <!-- Boton para subir en la pagina -->
    <p-scrollTop></p-scrollTop>
</div>


<!-- DIALOG COFIRMACION -->
<p-dialog [(visible)]="confirmacionDialog" [style]="{width: '450px'}" header="Confirmación" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="field">
            <h5>¿Está seguro de guardar los datos?</h5>
            <label class="mr-2" for="name">Nro de registros selecionados:</label>
            <small style="font-size: large;">{{selectedRegistros.length}}</small>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="No" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <p-button label="Sí" icon="pi pi-check" iconPos="left" styleClass="p-button-info" class="mr-2"
            (click)="confirmaSupervision()"></p-button>
    </ng-template>
</p-dialog>


<!-- DIALOG ERROR: No hay registros seleccionados. -->
<p-dialog [(visible)]="confirmacionDialogError" [style]="{width: '450px'}" header="Mensaje" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="field">
            
            <h5> <i style="font-size: larger; color: red;" class="pi pi-exclamation-triangle mr-2 "></i> No hay registros seleccionados.</h5>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <p-button label="Aceptar" icon="pi pi-check" iconPos="left" styleClass="p-button-info" class="mr-2"
            (click)="hideDialogError()"></p-button>
    </ng-template>
</p-dialog>