<div class="card">


    <h4> <a [routerLink]="['/codificacion']">Variables para codificación | </a> Codificación doble</h4>
    <!-- Variables para supervisión -->


    <!-- dos columas -->
    <div class="grid">


        <!-- OCUPACION -->
        <div class="col-4 md:col-4 lg:6">
            <div class="card  border-1 surface-border">
                <p-table [value]="products">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="background-color: rgb(2, 136, 209); color: rgb(42, 42, 42); text-align: center;">
                                DEPARTAMENTO <br> <strong
                                    style="font-family:Arial, Helvetica, sans-serif ; color: white; ">{{departamentoItem}}</strong>
                            </th>
                            <th style="background-color: rgb(2, 136, 209); color: rgb(42, 42, 42); text-align: center;">
                                IDENTIFICADOR <br> <strong
                                    style="font-family:Arial, Helvetica, sans-serif; color: white; ">{{idPregunta}} -
                                    {{secuencial}}</strong></th>
                            <th style="background-color: rgb(2, 136, 209); color: rgb(42, 42, 42); text-align: center;">
                                POR CODIFICAR <br> <strong
                                    style="font-family:Arial, Helvetica, sans-serif; color: white; ">{{totalCarga_ocu}}</strong>
                            </th>
                        </tr>
                    </ng-template>
                </p-table>
                <p class="ml-2 mt-2"><strong style="color:rgb(2, 136, 209)">PREGUNTA: </strong> <span
                        class="image-text"> <p-chip label="49" styleClass="mr-2"></p-chip>
                        {{descPreg_ocu}}</span></p>
                <p class="ml-2 mt-2"><strong style="color:rgb(2, 136, 209)">RESPUESTA: </strong> {{respuestaItem_ocu}}
                </p>
                <p class="ml-2 "><strong style="color:rgb(2, 136, 209)">ESTADO: </strong> {{estadoItem_ocu}}</p>
                <!--  <p class="ml-2 "><strong style="color:rgb(2, 136, 209)">CÓDIGO: </strong> cod </p> -->
            </div>
        </div>



        <!-- ACTIVIDAD -->
        <div class="col-4 md:col-4 lg:6">
            <div class="card  border-1 surface-border">
                <p-table [value]="products">
                    <ng-template pTemplate="header">
                        <tr>
                            <th
                                style="background-color: rgb(17, 173, 228); color: rgb(42, 42, 42); text-align: center;">
                                DEPARTAMENTO <br> <strong
                                    style="font-family:Arial, Helvetica, sans-serif ; color: white; ">{{departamentoItem}}</strong>
                            </th>
                            <th
                                style="background-color: rgb(17, 173, 228); color: rgb(42, 42, 42); text-align: center;">
                                IDENTIFICADOR <br> <strong
                                    style="font-family:Arial, Helvetica, sans-serif; color: white; ">{{idPregunta}} -
                                    {{secuencial}}</strong></th>
                            <th
                                style="background-color: rgb(17, 173, 228); color: rgb(42, 42, 42); text-align: center;">
                                POR CODIFICAR <br> <strong
                                    style="font-family:Arial, Helvetica, sans-serif; color: white; ">{{totalCarga_act}}</strong>
                            </th>
                        </tr>
                    </ng-template>
                </p-table>
                <p class="ml-2 mt-2"><strong style="color:rgb(17, 173, 228)">PREGUNTA: </strong> <span
                        class="image-text"> <p-chip label="51" styleClass="mr-2"></p-chip>
                        {{descPreg_act}}</span></p>
                <p class="ml-2 mt-2"><strong style="color:rgb(17, 173, 228)">RESPUESTA: </strong> {{respuestaItem_act}}
                </p>
                <p class="ml-2 "><strong style="color:rgb(17, 173, 228)">ESTADO: </strong>{{estadoItem_act}} </p>
                <!-- <p class="ml-2 "><strong style="color:rgb(17, 173, 228)">CÓDIGO: </strong> cod </p> -->
            </div>
        </div>

        <!-- CONTEXTO -->
        <div class="col-4 md:col-4 lg:6">
            <div class="card  border-1 surface-border">

                <p-table [value]="products">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="background-color: rgb(16, 177, 99); color: rgb(42, 42, 42);">VARIABLES DE
                                CONTEXTO</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td [innerHTML]="contexto"></td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>

    </div>



    <p-progressBar *ngIf="tabla_pb" mode="indeterminate" [style]="{'height': '2px'}"></p-progressBar>

    <div class="text-700 text-center">

        <button pButton pRipple label="Anular anterior" icon="pi pi-trash"
            class="p-button-danger mb-4 mt-3  px-5 py-3 mr-2 white-space-nowrap"></button>
        <button (click)="primero()" pButton pRipple label="Primero" icon="pi pi-fast-backward"
            class="p-button-info mb-4 mt-3  px-5 py-3 mr-2 white-space-nowrap"></button>
        <button (click)="siguiente()" pButton pRipple label="Siguiente" icon="pi pi-forward"
            class="p-button-info mb-4 mt-3  px-5 py-3 mr-2 white-space-nowrap"></button>
        <!-- <button pButton pRipple label="Guardar" icon="pi pi-save"
            class="p-button-secondary mb-4 mt-3  px-5 py-3 mr-2 white-space-nowrap"></button> -->
    </div>






    <div class="grid">


        <div class="col-6 md:col-6 lg:6">

            <div class="card  border-1 surface-border">
                <!-- Tabla 1 -->
                <p-table #dt1 [value]="clasificacion_ocu" [(selection)]="selectedCustomer1" dataKey="id_catalogo"
                    [scrollable]="true" scrollHeight="400px" styleClass="p-datatable-customers"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros" [rows]="10"
                    [rowsPerPageOptions]="[10]" [paginator]="true" stateStorage="local">
                    <ng-template pTemplate="header">
                        <!--  -->
                        <tr>
                            <th pSortableColumn="codigo">CÓDIGO CODIFICACIÓN OCUPACIÓN<p-sortIcon
                                    field="codigo"></p-sortIcon>
                            </th>
                            <th pSortableColumn="descripcion">RESPUESTA <p-sortIcon field="descripcion"></p-sortIcon></th>
                            <th>ACCIONES</th>
                        </tr>
                        <tr>
                            <th>
                                <input pInputText type="text"
                                    (input)="dt1.filter($event.target.value, 'codigo', 'contains')"
                                    [value]="dt1.filters['codigo']?.value" placeholder="Buscar por código"
                                    class="w-full">
                            </th>
                            <th>
                                <input pInputText type="text"
                                    (input)="dt1.filter($event.target.value, 'descripcion', 'contains')"
                                    [value]="dt1.filters['descripcion']?.value" placeholder="Buscar por respuesta"
                                    class="w-full">
                            </th>
                            <th>

                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-reg>
                        <tr [pSelectableRow]="reg">
                            <td>
                                <span class="p-column-title">CÓDIGO CODIFICACIÓN OCUPACIÓN</span>
                                <span class="image-text"> <strong> {{reg.codigo}}</strong></span>
                            </td>
                            <td>
                                <span class="p-column-title">RESPUESTA</span>
                                <span class="image-text">{{reg.descripcion}}</span>
                            </td>

                            <td>
                                <button (click)="confirmarCodificacionOcu()" styleClass="p-button-lg" pButton pRipple icon="pi pi-check" pTooltip="Codificar"
                                    tooltipPosition="right" class="p-button-info mr-2"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="4">No hay registros para mostrar</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                        <!-- <p-button type="button" icon="pi pi-refresh" styleClass="p-button-text" label="Actualizar"
                    pTooltip="Click para actualizar la tabla"></p-button> -->
                    </ng-template>
                    <ng-template pTemplate="paginatorright">
                    </ng-template>
                </p-table>


            </div>

        </div>


        <div class="col-6 md:col-6 lg:6">

            <div class="card  border-1 surface-border">
                <!-- Tabla 2 -->

                <p-table #dt2 [value]="clasificacion_act" [(selection)]="selectedCustomer1" dataKey="id_catalogo"
                    [scrollable]="true" scrollHeight="400px" styleClass="p-datatable-customers"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros" [rows]="10"
                    [rowsPerPageOptions]="[10]" [paginator]="true" stateStorage="local">
                    <ng-template pTemplate="header">
                        <!--  -->
                        <tr>
                            <th pSortableColumn="codigo">CÓDIGO CODIFICACIÓN ACTIVIDAD <p-sortIcon
                                    field="codigo"></p-sortIcon> 
                            </th>
                            <th pSortableColumn="descripcion">RESPUESTA <p-sortIcon field="descripcion"></p-sortIcon></th>
                            <th>ACCIONES</th>
                        </tr>
                        <tr>
                            <th>
                                <input pInputText type="text"
                                    (input)="dt2.filter($event.target.value, 'codigo', 'contains')"
                                    [value]="dt2.filters['codigo']?.value" placeholder="Buscar por código"
                                    class="w-full">
                            </th>
                            <th>
                                <input pInputText type="text"
                                    (input)="dt2.filter($event.target.value, 'descripcion', 'contains')"
                                    [value]="dt2.filters['descripcion']?.value" placeholder="Buscar por respuesta"
                                    class="w-full">
                            </th>
                            <th>
                                <!-- <button pButton pRipple icon="pi pi-eye"
                                class="p-button-danger  white-space-nowrap"></button> -->
                                <!-- <input pInputText type="text" (input)="dt1.filter($event.target.value, 'representative.name', 'contains')" [value]="dt1.filters['representative.name']?.value" placeholder="Search by Representative" class="w-full"> -->
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-reg>
                        <tr [pSelectableRow]="reg">
                            <td>
                                <span class="p-column-title">CÓDIGO CODIFICACIÓN ACTIVIDAD </span>
                                <span class="image-text"> <strong> {{reg.codigo}}</strong></span>
                            </td>
                            <td>
                                <span class="p-column-title">RESPUESTA</span>
                                <span class="image-text">{{reg.descripcion}}</span>
                            </td>

                            <td>
                                <button (click)="confirmarCodificacionAct()" styleClass="p-button-lg" pButton pRipple icon="pi pi-check" pTooltip="Codificar"
                                    tooltipPosition="right" class="p-button-primary mr-2"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="4">No hay registros para mostrar</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                        <!-- <p-button type="button" icon="pi pi-refresh" styleClass="p-button-text" label="Actualizar"
                        pTooltip="Click para actualizar la tabla"></p-button> -->
                    </ng-template>
                    <ng-template pTemplate="paginatorright">
                    </ng-template>
                </p-table>



            </div>

        </div>



    </div>



</div>

