<p>reporte2 works!</p>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>2. Reporte de avance de codificación por frecuencia de código de la variable seleccionada</h5>
            <p-toolbar>
                <div class="p-toolbar-group-left flex flex-wrap">
                    <button pButton type="button" label="EXCEL" icon="pi pi-plus"
                        class="p-button-success mr-2"></button>
                    <!-- <button pButton type="button" label="Open" icon="pi pi-folder-open"
                        class="p-button-secondary mr-2"></button>

                    <i class="pi pi-bars p-toolbar-separator"></i>

                    <button pButton type="button" icon="pi pi-check" class="p-button-success mr-2"></button>
                    <button pButton type="button" icon="pi pi-trash" class="p-button-warning mr-2"></button> -->
                    <button pButton type="button" icon="pi pi-file" class="p-button-danger" label=".pdf"></button>
                </div>

                <div class="p-toolbar-group-right">
                    <p-splitButton label="Catálogo" icon="pi pi-check" [model]="items"></p-splitButton>
                </div>
            </p-toolbar>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <!-- ProgressBar -->
            <p-progressBar mode="indeterminate" [style]="{'height': '2px'}"
                *ngIf="progressBar.reporte_pb"></p-progressBar>

            <!-- <h5>Implicit Pagination</h5> -->
            <p-table [value]="registros" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[5,10,25,50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:20%">CATALOGO</th>
                        <th style="width:20%">CODIGO</th>
                        <th style="width:20%">ACEPCIONES</th>
                        <th style="width:20%">FRECUENCIA</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-reg>
                    <tr>
                        <td>{{reg.catalogo}}</td>
                        <td>{{reg.codigo}}</td>
                        <td>{{reg.acep_desc}}</td>
                        <td>{{reg.sum}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" (click)="reporteDatos()" icon="pi pi-refresh" styleClass="p-button-text" label="Actualizar"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">                    
                </ng-template>
            </p-table>

        </div>
    </div>


</div>