<div class="card">

    <h5><a [routerLink]="['/reportes']"> <i class="pi pi-chevron-left" style="font-size: 1.4rem"></i> Reportes | </a> 4.
        Reporte: avance de codificación por departamento automática y asistida</h5>
    <hr>

    <button pButton pRipple type="button" icon="pi pi-refresh" label="Actualizar" class="p-button-warning ml-2 mr-2"
        (click)="reporte()" pTooltip="Actualizar registros" tooltipPosition="bottom"></button>
    <button pButton type="button" label="Exportar" icon="pi pi-file-excel" (click)="exportExcel()"
        class="p-button-success mr-2" pTooltip="Exportar registros a excel (.xlsx)" tooltipPosition="bottom"></button>
    <br> <br>

    <!-- ProgressBar -->
    <p-progressBar mode="indeterminate" [style]="{'height': '2px'}" *ngIf="reporte_pb"></p-progressBar>

    <p-table [value]="registros" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[5,10,25,50]">
        <ng-template pTemplate="header">
            <tr> <!-- Departamento	Pregunta	Automatica	Asistida	Pendiente	Total -->
                <th style="width:20%">DEPARTAMENTO</th>
                <th style="width:20%">PREGUNTA</th>
                <th style="width:20%">AUTOMATICA</th>
                <th style="width:20%">ASISTIDA</th>
                <th style="width:20%">PENDIENTE</th>
                <th style="width:20%">TOTAL</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reg>
            <tr>
                <td>{{reg.departamento}}</td>
                <td>{{reg.pregunta}}</td>
                <td>{{reg.automatica}}</td>
                <td>{{reg.asistida}}</td>
                <td>{{reg.pendiente}}</td>
                <td>{{reg.total}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
    </p-table>
</div>